.popup__button-close {
    border: 0;
    background: url(../../../images/krest.svg) no-repeat center;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 515px) {
    .popup__button-close {
        right: -5px;
        top: -40px;
        background-image: url(../../../images/minkrest.svg);
    }
}