.footer {
    max-width: 880px;
    margin: 67px auto 60px;
}

@media screen and (max-width: 905px) {
    .footer {
        margin: 48px 0 36px 5.86%;
        width: 83.13%;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-left: 5.94%;
    }
}