.form {
    width: 83.3%;
    min-height: 190px;
    margin: 38px auto 36px;
    display: block;
}

@media screen and (max-width: 455px) {
    .form {
        margin-top: 62px;
        margin-bottom: 25px;
    }
}
